.splitLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.chartPane {
  /*height: 50%;*/
  min-height: 0;
  box-sizing: border-box;
}

.tablePane {
  height: 50%;
  min-height: 0;
  overflow: auto;
}
